.filter {
    cursor: pointer;
    display: inline;

    &.text {
        display: block;
    }

    .selected {
        margin-bottom: .25rem;
    }

    .FilteredMultiSelect__filter, .FilteredMultiSelect__select, input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .FilteredMultiSelect__button {
        display: none;
    }

    .FilteredMultiSelect__button.FilteredMultiSelect__button--active {
        color: #fff !important;
        background-color: #007bff !important;
        border-color: #007bff !important;
        display: inline-block;

        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:hover {
            color: #fff !important;
            background-color: #0069d9 !important;
            border-color: #0062cc !important;
        }  
    }
}